.vjs-play-resume-button {
  position: absolute;
  float:left;
  cursor: pointer;
  text-align: center;
  width: 100% !important;
  top: 45% !important;
  font-size: 2em;
}

.vjs-play-resume-button > span {
  cursor: pointer;
  line-height: 1.4em;
  float: left;
  margin-left: 25px;
}

.vjs-play-resume-button > p {
  cursor: pointer;
  line-height: 1.4em;
  float: left;
  margin: 0px 5px;
}