.vjs-play-resume-button {
  position: absolute;
  float:left;
  cursor: pointer;
  text-align: center;
  height: 75px !important;
  width: 50% !important;
  left: 25% !important;
  top: 37.5% !important;
  font-size: 1.25vw;
}

.vjs-play-resume-button > span {
  cursor: pointer;
  line-height: 1.4em;
  float: left;
  margin-left: 25px;
}

.vjs-play-resume-button > p {
  cursor: pointer;
  line-height: 1.4em;
  float: left;
  margin: 0px 5px;
}