.vjs-play-reset-button {
  position: absolute;
  float:left;
  clear: left;
  cursor: pointer;
  text-align: center;
  top: 46% !important;
  font-size: 2em;
  width: 100% !important;
}

.vjs-play-reset-button > span {
  cursor: pointer;
  line-height: 1.4em;
  float: left;
  margin-left: 25px;
}

.vjs-play-reset-button > p {
  cursor: pointer;
  line-height: 1.4em;
  float: left;
  margin: 0px 5px;
}